html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-device-width: 1200px) {
}

@media all and (min-device-width: 1200px) and (max-width: 800px) {
}
